body {
    background-color:#edf2f9;
}
ul > li {
    list-style: none;
    margin: 2%;
}

.container {
    padding: 2%;
}
.grey {
    color: lightgray
}
.side-bar {
    padding-top: 4%;
}
img {
    width: 50px;
}